/* -------------- */
/* RESPONSIVE     */
/* -------------- */

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px) {
  .model-container {
    width: 600px;
  }
}

/* MOBILE AND TABLET */
@media (max-width: 1023px) {
  #nav .subnav a {
    padding: 4px 12px;
  }

  .btn {
    padding: 12px 16px;
  }

  .booking-contact {
    line-height: 2;
  }

  .form-control {
    padding: 13px;
  }

  #footer .social-list a {
    font-size: 48px;
    letter-spacing: 16px;
  }
}

/* MOBILE */
@media screen and (max-width: 739px) {
  .full-width {
    width: 100%;
  }

  #header {
    overflow: hidden;
  }
  #search {
    display: none;
  }
  #mobile-menu-btn {
    position: absolute;
    right: 0;
    display: block;
    background-color: #000;
  }

  #nav {
    flex: 1;
  }
  #nav li:first-child {
    display: inline-block;
  }
  #nav li {
    display: block;
  }
  #nav .subnav {
    position: initial;
    background-color: #000;
  }
  #nav .subnav a {
    color: white;
    padding: 4px 40px;
  }

  #slider .text-content {
    display: none;
  }

  /* team member */
  #content .team-selection {
    display: inherit;
    float: inherit;
  }
  #content .team-selection .member {
    display: inline-block;
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  #content .member .member-img {
    width: 60%;
  }
  #content .member .member-name {
    margin-top: 15px;
  }

  /* TOUR LIST */
  .place {
    width: 100%;
    margin-bottom: 1rem;
  }
  .place .btn.full-width {
    text-align: center;
  }

  /* BOOKING FORM */
  .booking-form {
    flex-direction: column;
    row-gap: 32px;
  }
  .booking-info,
  .booking-contact {
    width: 100%;
  }
  .booking-info form {
    display: inherit;
  }

  /* BUY TICKET MODEL */
  .model-container {
    /* width: auto; */
    margin-inline: 10px;
  }
} ;
